.app {
  min-height: 100vh;
  background-color: #111827; // background-color default global
  color: white;
}

.mainContent {
  margin-left: 240px;
  width: calc(100% - 240px);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
}

.pageContent {
  flex: 1;
}
